* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navSpace {
  margin: auto;
}
.sliderFonts button {
  font-size: 1.5rem;
}
.carouselItems {
  width: 100%;
  height: 80vh;
}
.mainBox {
  padding: 1rem;
}
.imgBox,
.textBox {
  width: 50%;
  margin: auto;
}
.textBox {
  padding: 0 1rem;
}
.cardBox {
  width: 100%;
}
.mealCards {
  width: 15rem;
  text-align: center;
}
.menuBtns:hover,
.menuBtns:active {
  color: #ffffff;
  background-color: #1f2838;
  border-color: #494f57;
}
@media screen and (max-width: 844px) {
  .mainBox {
    flex-direction: column;
  }
  .imgBox,
  .textBox {
    width: 100%;
  }
  .textBox p {
    text-align: justify;
  }
}
@media screen and (max-width: 500px) {
  .sliderFonts {
    width: 100%;
  }
  .carouselItems {
    width: 100%;
    height: 60vh;
  }
  .searchOption {
    display: none;
  }
}
